.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 80px 50px;
  width: 100vw;
  gap: 20px;
}

@media screen and (max-width: 630px) {
  .footer {
    padding: 0 40px 50px;
  }
}

@media screen and (max-width: 375px) {
  .footer {
    padding: 0 25px 50px;
  }
}

.footer__title {
  color: white;
  font-family: "Inter";
  font-size: 25px;
  margin: 0;
  pointer-events: none;
}

.footer__text {
  color: white;
  font-family: "Inter";
  font-size: 13px;
  font-weight: 400;
  max-width: 480px;
  margin: 0;
  pointer-events: none;
}

@media screen and (max-width: 630px) {
  .footer__text {
    max-width: 400px;
  }
}

@media screen and (max-width: 477px) {
  .footer__text {
    max-width: 300px;
  }
}

@media screen and (max-width: 375px) {
  .footer__text {
    max-width: 260px;
  }
}

.footer__email {
  color: white;
  font-family: "Inter";
  font-size: 13px;
  font-weight: 500;
  margin: 0;
}

.footer__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.footer__links-linkedin {
  width: 23px;
  height: 23px;
  opacity: 0.5;
  transition: all 400ms ease-out;
}

.footer__links-linkedin:hover {
  opacity: 1;
}

.footer__links-github {
  width: 23px;
  height: 23px;
  opacity: 0.5;
  transition: all 400ms ease-out;
}

.footer__links-github:hover {
  opacity: 1;
}

.footer__copyright {
  color: white;
  font-family: "Inter";
  font-size: 12px;
  margin: 0;
  pointer-events: none;
}
